:root {
    --color_brand: #F5144A;
    --color_brand_alt: #D91242;
    --color_error: #F1D302;
    --color_black: #020100;
    --color_white: #FDFFFC;
    --color_background: #FDFFFC;
    --color_grey: #808080;
    --color_grey_light: #EAEAEA;
    --color_grey_dark: #404040;

    --basic_font: 'noto-sans-disp';

    --tiny_font_size: 12px;
    --basic_font_size: 16px;
    --big_font_size: 24px;
    --large_font_size: 64px;
    --huge_font_size: 96px;

    --tiny_margin: 16px;
    --min_margin: 16px;
    --basic_margin: 32px;
    --av_margin: 64px;    

    --basic_transition: all 0.2s ease-in;
}


::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color_grey_light);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--color_grey);
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px var(--color_grey_light);
}

html {
    font-size: var(--basic_font_size);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    background-color: var(--color_bacakground);
}

* {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

input,
button {
    border-radius: 0;
}

textarea,
input,
button,
a {
    -webkit-appearance: none;
    outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}

body,
body * {
    margin: 0;
    font-family: var(--basic_font);
    font-style: normal;
    font-size: var(--basic_font_size);
    font-weight: 400;
}

h2 {
    font-size: var(--huge_font_size);
    font-weight: 400;
}

h3 {
    width: 100%;
    font-size: var(--large_font_size);
    margin: 0;
    font-weight: 400;
}

h5 {
    font-size: var(--big_font_size);
    font-weight: 400;
}

p,
pre,
b,
a,
i,
li,
label,
input,
button,
textarea {
    font-family: var(--basic_font);
    font-size: var(--basic_font_size);
    font-weight: 400;
}


span{
    font-size: inherit;
}

pre {
    white-space: pre-wrap;
}

pre>* {
    margin: 0;
}

.tiny_text{
    font-size: var(--tiny_text_font_size);
}

a.tiny_text>u{
    font-size: var(--tiny_text_font_size);
}

b {
    font-weight: 600;
}

li {
    margin: 0;
}

a {
    color: var(--color_black);
    text-decoration: none;
}

a>u {
    color: var(--color_black);
    text-decoration: none;
    border-bottom: 1px var(--color_black) dotted;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

a:hover>u {
    color: var(--color_brand);
    border-bottom: 1px var(--color_brand) solid;
    transition: all 0.2s ease-in;
}

.main_wrap{
    width: 100%;
}

.home_wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;    
}

.home_wrap>div{
    height: 100%;
    width: 50%;
}

.home_wrap>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color_brand);
    padding: var(--av_margin);
    box-sizing: border-box;   
}

.home_wrap>div:first-child>h2{
    color: var(--color_white);
}

.home_card_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
    padding: var(--av_margin);
    box-sizing: border-box;
    transition: var(--basic_transition);
    cursor: pointer;
}

.home_card_wrap:hover{
    background-color: var(--color_black);
}

.home_card_wrap:hover *{
    color: var(--color_white);
}

.home_card_wrap:hover path{
    fill: var(--color_white);
}

.home_card_wrap:first-child{
    border-bottom: 1px solid var(--color_black);
}

.home_card_wrap>div:first-child>h3{
    margin: 0 0 var(--basic_margin);
}

.home_card_wrap>div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%
}

.home_card_wrap>div:last-child>p{
    font-size: var(--big_font_size);
}

.home_main_link{
    display: block;
    height: 64px;
    padding: 0 var(--av_margin);
    box-sizing: border-box;
    background-color: var(--color_white);
    color: var(--color_black);
    font-size: var(--big_font_size);
    line-height: 64px;
    border-radius: 64px;
    cursor: pointer;
    transition: var(--basic_transition);
}

.home_main_link:hover{
    background-color: var(--color_brand);
    color: var(--color_white);
}

.doc_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.doc_viewport{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--color_black);
    border-left: 1px solid var(--color_black);
    border-right: 1px solid var(--color_black);
    overflow-y: hidden;
    overflow-x: hidden;
}

.doc_not_ready{
    width: 70%;
    color: var(--color_error);
    border: 1px solid var(--color_error);
    padding: var(--av_margin);
    box-sizing: border-box;
    font-size: var(--big_font_size);
}

.doc_viewport>div{
    position: absolute;
    width: auto;
    min-width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.doc_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
    width: 25%;
    height: 100%;
    padding: var(--basic_margin);
    box-sizing: border-box;
}



.doc_info>p{
    border-top: 1px solid var(--color_black);
    padding: var(--min_margin) 0 0;
    margin: var(--min_margin) 0 0;
    color: var(--color_grey_dark);
}

.doc_view_controls,
.doc_page_controls{
    width: 100%;
}

.doc_view_controls>div:first-child>p,
.doc_page_controls>div:first-child>p{
    color: var(--color_grey);
    margin: 0 0 var(--min_margin);
}

.doc_view_controls>div,
.doc_page_controls>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.doc_view_controls>div:last-child{    
    border: 1px solid var(--color_black);
}

.doc_view_controls>div>button,
.doc_page_controls>div>button,
.doc_close{
    border: none;
    background-color: transparent;
    font-size: var(--big_font_size);
    padding: var(--basic_margin);
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: pointer;
    transition: var(--basic_transition);
    line-height: 1;
}

.doc_view_controls>div>button:nth-child(1),
.doc_view_controls>div>button:nth-child(3){
    width: 35%;
}

.doc_view_controls>div>button:nth-child(2){
    width: 30%;
    border-left: 1px solid var(--color_black);
    border-right: 1px solid var(--color_black);
}

.doc_view_controls>div>button:hover,
.doc_page_controls>div>button:hover,
.doc_close:hover{
    background-color: var(--color_black);
    color: var(--color_white);
}

.doc_page_controls>div>button{
    width: 50%;
}

.doc_page_controls>div>button:first-child{
    border: 1px solid var(--color_black);
    border-right: 0;
}

.doc_page_controls>div>button:first-child>svg{
    transform: rotateZ(180deg);
}

.doc_page_controls>div>button:hover path{
    fill: var(--color_white);
}

.doc_page_controls>div>button:last-child{
    background-color: var(--color_brand);
    border: 1px solid var(--color_brand);
}

.doc_page_controls>div>button:last-child path{
    fill: var(--color_white);
}

.doc_page_controls>div>button:last-child:hover{
    background-color: var(--color_brand_alt);
}


.doc_close{
    width: 100%;
    border: 1px solid var(--color_black);
    font-size: var(--basic_font_size);
}

.doc_page_info{
    width: 100%;
    border: 1px solid var(--color_grey);
    padding: var(--basic_margin);
    box-sizing: border-box;
    color: var(--color_grey);
}

.lib_wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.lib_wrap>div:first-child{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color_brand);
    padding: var(--av_margin);
    box-sizing: border-box;   
    height: 100vh;
    width: 50%;
}

.lib_wrap>div:first-child>div>p{
    margin: var(--basic_margin) 0 0;
    font-size: var(--big_font_size);
}

.lib_wrap>div:first-child *:not(input){
    color: var(--color_white);
}

.search_controls{
    width: 100%;
}

.search_controls>div:first-child,
.search_controls>div:first-child>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 var(--min_margin);
}

.search_controls>div:first-child>div:first-child>button{
    height: 48px;
    padding: 0 var(--av_margin);
    box-sizing: border-box;
    border: 1px solid var(--color_white);
    border-radius: 48px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--basic_transition);
}

.search_controls>div:first-child>button{
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    border: 1px solid var(--color_white);
    border-radius: 48px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--basic_transition);
    flex-shrink: 0;
}

.search_controls>div:first-child>button>svg{
    transform: rotate(180deg);
}


.search_controls>div:first-child>div:first-child>button:not(:last-child){
    margin: 0 var(--min_margin) 0 0;
}

.search_controls>div:first-child>div:first-child>button:hover,
.search_controls>div:first-child>div:first-child>button.active,
.search_controls>div:first-child>button:hover{
    background-color: var(--color_white);
    color: var(--color_brand);
}

.search_controls>div:first-child>button:hover path{
    fill: var(--color_brand);
}

.search_controls>input{
    width: 100%;
    height: 64px;
    padding: 8px var(--basic_margin);
    box-sizing: border-box;
    border: none;
    background-color: var(--color_white);
    color: var(--color_black);
}

.lib_wrap>div:last-child{
    min-height: 100%;
    width: 50%;
    margin: 0 0 0 50%;
    padding: var(--av_margin);
    box-sizing: border-box;   
}

.search_results{
    margin: var(--av_margin) 0 0;
}

.protocol_search_res,
.catalog_search_res{
    width: 100%;
    margin: 0 0 var(--av_margin);
}

.protocol_search_res>div,
.catalog_search_res>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.protocol_search_res>div:first-child{
    border-bottom: 1px solid var(--color_black);
}

.protocol_search_res>div:first-child>p:first-child{
    font-size: var(--large_font_size);
    width: 184px;
    padding: 0 var(--min_margin) var(--min_margin) 0;
    margin: 0 var(--min_margin) 0 0;
    border-right: 1px solid var(--color_black);
    flex-shrink: 0;
    line-height: 1;
    color: var(--color_brand);
}

.protocol_search_res>div:first-child>a:last-child{
    width: 100%;
    padding: 0 0 var(--min_margin) 0;
    cursor: pointer;
    transition: var(--basic_transition);
}

.protocol_search_res>div:last-child{
    margin: var(--min_margin) 0 0;
    justify-content: space-between;
}

.protocol_search_res>div:last-child>p{
    color: var(--color_grey);
}

.catalog_search_res>div:first-child>p:first-child{
    width: 100%;
    font-size: var(--large_font_size);
    padding: 0 var(--min_margin) var(--min_margin) 0;
    margin: 0 var(--min_margin) 0 0;
    border-right: 1px solid var(--color_black);
    color: var(--color_brand);
}

.catalog_search_res>div:first-child>p:last-child{
    width: 200px;
    color: var(--color_grey);
}

.catalog_search_res>div:not(:first-child){
    border-top: 1px solid var(--color_black);
    padding: var(--min_margin) 0;
}

.catalog_search_res>div:not(:first-child)>a:first-child{
    display: block;
    width: 100%;
    cursor: pointer;
    transition: var(--basic_transition);
}

.catalog_search_res>div:not(:first-child)>a:nth-child(2){
    display: block;
    width: 200px;
    color: var(--color_brand);
    text-align: right;
    cursor: pointer;
    transition: var(--basic_transition);
}

.btn_more>button{
    width: 100%;
    height: 64px;
    border-radius: 64px;
    border: 1px solid var(--color_black);
    padding: 0 var(--av_margin);
    box-sizing: border-box;
    background-color: transparent;
    font-size: var(--big_font_size);
    cursor: pointer;
    transition: var(--basic_transition);
}

.btn_more>button:hover{
    background-color: var(--color_black);
    color: var(--color_white);
}


.protocol_search_res>div:first-child>a:last-child:hover,
.catalog_search_res>div:not(:first-child)>a:hover{
    text-decoration: underline;
}

.doc_temp_abs{
    color: var(--color_grey);
}